# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Random folders #
.idea/*
out/production/SoftwareSet/.metadata/*
out/production/SoftwareSet/.recommenders/*
out/production/SoftwareSet/.classpath
out/production/SoftwareSet/.project
out/production/SoftwareSet/frontend/.project
out/production/SoftwareSet/frontend/.classpath
out/production/SoftwareSet/frontend/.gitignore
out/production/SoftwareSet/backend/.project
out/production/SoftwareSet/backend/.classpath
out/production/SoftwareSet/backend/.gitignore

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

